

#section_three {
	background: $bluedark;
	position: relative;
	z-index:1;
	height:807px;
	position: relative;
	svg#pheonix {
		position: absolute;
		top:50px;
		left:-230px;
		width:1000px;
		path {
				fill:#061e26;
		}
	}
}

.sec_three_inner {
	display: flex;
	max-width: 1920px;
	padding:0 130px;
	margin:0 auto;
	position: relative;
	z-index:1;
}


.sec_three_left {
	flex-basis:425px;
	flex-shrink: 0;
}

span.sec_three_cr_title {
	display: block;
	color:#fff;
	font-size: 90px;
	line-height: 90px;
	margin-top:223px;
	margin-bottom:40px;
	@include rufina_bold;
}

.sec_three_right {
	flex-grow:1;
	padding-left:5.5%;
}


a.sec_three_button {
	color:#fff;
	//width:288px;
	border:4px solid #fff;
	display: inline-block;
	border-radius: 45px;
	text-decoration: none;
	height:70px;
	padding: 0 33px;
	transition: all 300ms ease-in-out;
	@include sans_black;
	&:hover {
		background: #fff;
		color:$red;
		svg {
			transform: translateX(7px) rotate(180deg);
		}
	}
	.sec_three_button_inner {
		display: flex;
		justify-content: center;
		align-items: center;
		height:100%;
	}
	span {
		text-transform: uppercase;
		font-size: 17px;
		letter-spacing: 0.1em;
	}
	svg {
		margin-left:10px;
		transform: translateX(0px) rotate(180deg);
		transition: all 400ms ease-in-out;
		path {
			fill:$red;
		}
	}
}

a.sec_three_button.mobile {
	display: none;
}

.sec_three_cr {
	margin-top:223px;
	position: relative;
	&:after {
		content:"";
		display: block;
		width:100%;
		height:1px;
		background: #3a4a50;
		position: absolute;
		bottom:0;
		right:-100%;
	}
	ul {
		display: flex;
		justify-content: space-between;
		position: relative;
		list-style: none;
		border-bottom: 1px solid #3a4a50;
		padding-bottom:85px;
		li {
			flex-basis:33.333333333%;
			span {
				display: block;
			}
			span.cr_title {
				color:#6d7d82;
				text-transform: uppercase;
				font-size: 16px;
				letter-spacing: 0.1em;
				@include sans_black;
			}
			span.cr_amount {
				color:#fff;
				text-transform: uppercase;
				font-size: 80px;
				margin-top:17px;
				@include sans_bold;
				&:after {
					content:"";
					display: block;
					width:59px;
					height:2px;
					background: $red;
					margin:20px 0 10px 0;
				}
			}
			span.cr_description {
				color:#6d7d82;
				font-size: 19px;
				line-height: 28px;
				margin-top:27px;
				@include sans_reg;
			}
		}
		li.one {
			a {
				span.cr_description {
					max-width: 240px;
				}
			}
		}
		li.two {
			//padding-left:30px;
			a {
				span.cr_description {
					max-width: 240px;
				}
			}
		}
		li.three {
			//padding-left:80px;
			a {
				span.cr_description {
					max-width: 250px;
				}
			}
		}
		.magic-line {
     position: absolute;
     bottom: -3px;
     left: 0;
     z-index:1;
     padding: 0;
     width: 284px !important;
     height: 6px;
     border:none;
     background: $red;
     }
	}
}


	.sec_three_arrow {
		display: none;
	}


@media screen and (max-width: 1670px) {
	
	.sec_three_inner {
		    padding: 0 75px;
	}
	
	.sec_three_right {
		padding-left:0;
	}
	
	.sec_three_cr {
		ul {
			padding-bottom: 73px;
		}
	}
	
	
} /* Media Query */

@media screen and (max-width: 1475px) {
	
	
	#section_three {
		svg#pheonix {
			left: -278px;
		}
	}
	
	.sec_three_left {
    flex-basis: 390px;
  }
  
  
  .sec_three_cr {
	  ul {
		  li.three {
			  //padding-left: 48px;
		  }
	  }
  }	
	
	span.sec_three_cr_title {
		margin-top: 230px;
	}
    
	
} /* Media Query */



@media screen and (max-width: 1390px) {
	
	
	#section_three {
		height:598px;
		svg#pheonix {
			top: 20px;
			left: -389px;
		}
	}
	
	.sec_three_inner {
		padding: 0 30px 0 60px;
	}
	
	.sec_three_left {
    flex-basis: 324px;
	}
	
	span.sec_three_cr_title {
		font-size: 70px;
		line-height: 70px;
		margin-top: 173px;
		margin-bottom: 37px;
	}
	
	a.sec_three_button {
		//width:237px;
		height:60px;
		span {
			font-size: 13px;
		}
		svg {
			margin-left: 5px;
			position: relative;
			right:-7px;
		}
	}
	
	.sec_three_cr {
		margin-top: 131px;
		ul {
			padding-bottom: 100px;
			li {
				span.cr_title {
					font-size: 15px;
				}
				span.cr_amount {
					font-size: 65px;
					margin-top: 26px;
					&:after {
						margin: 34px 0 0px 0;
					}
				}
				span.cr_description {
					margin-top: 19px;
					font-size: 16px;
					line-height: 22px;
				}
			}
			li.one {
				a {
					span.cr_description {
						max-width: 220px;
					}
				}
			}
			li.two {
				//padding-left:30px;
				a {
					span.cr_description {
						max-width: 200px;
					}
				}
			}
			li.three {
				//padding-left:80px;
				a {
					span.cr_description {
						max-width: 250px;
					}
				}
			}
			.magic-line {
				width:203px !important;
			}
		}
	}
	
	
} /* Media Query */



@media screen and (max-width: 1150px) {
	
	
	#section_three {
		height:auto;
		svg#pheonix {
			display: none;
		}
	}
	
	.sec_three_inner {
		display: block;
		padding:0 0px 100px;
		max-width: 630px;
		margin-left:auto;
		margin-right:auto;
	}
	
	.sec_three_left {
		text-align: center;
		padding:0 15px;
	}
	
	span.sec_three_cr_title {
		margin-top:0;
		padding:103px 0 0;
		font-size: 60px;
		line-height:30px;
	}
	
	a.sec_three_button.desktop {
		display: none;
	}
	
	a.sec_three_button.mobile {
		display: flex;
		width:266px;
		margin:95px auto 0;
		span {
			font-size: 15px;
		}
	}
	
	
	.sec_three_cr {
		margin-top: 95px;
		display: flex;
		&:after {
			display: none;
		}
		ul {
			display: block;
			border:none;
			padding:0 15px 0;
			width:calc(100% - 88px);
			li {
				text-align: center;
				a {
					span.cr_title {
						font-size: 18px;
					}
					span.cr_amount {
						font-size: 80px;
						margin-top: 15px;
						&:after {
							content:"";
							margin: 28px auto 0;
						}
					}
					span.cr_description {
						font-size: 19px;
						line-height: 28px;
						
					}
				}
			}
			li.one, li.two, li.three {
				a {
					span.cr_description {
						max-width: 450px;
						display: block;
						margin-left:auto;
						margin-right:auto;
					}
				}
			}
			.magic-line {
				display: none;
			}
		}
	}
	
	
	.sec_three_arrow {
		display: block;
		margin-top:77px;
		.arrow_circle {
			width:43px;
			height:43px;
		}
		.arrow {
			position: absolute;
			top: 13px;
			z-index:1;
		}
	}
	
	
	.sec_three_arrow_left {
		.arrow {
			left:18px;
		}
	}
	
	.sec_three_arrow_right {
		.arrow {
			right:18px;
			transform: rotate(180deg);
		}
	}
	
	
	.sec_three_arrow_inner {
		width:44px;
		height:44px;
		position: relative;
	}
	
	
} /* Media Query */

@media screen and (max-width: 700px) {
	
	
	.sec_three_inner {
		padding-bottom: 0;
	}
	
	.sec_three_cr {
		flex-wrap:wrap;
	}
	
	
	.sec_three_cr {
		margin-top: 50px;
	}
	
	span.sec_three_cr_title {
		font-size: 45px;
		line-height: 50px;
		padding: 53px 0 0;
	}
	
	.sec_three_cr {
		ul {
			width:100%;
			order:1;
			li.one, li.two, li.three {
				a {
					span.cr_description {
						max-width: 300px;
					}
				}
			}
		}
	}
	
	.sec_three_arrow {
		flex-basis:50%;
		background:#071c24;
		height:67px;
		margin-top: 71px;
		display: flex;
		align-items:center;
	}
	
	.sec_three_arrow_inner {
		margin:0 auto;
	}
	
	.sec_three_arrow_left {
		order:2;
		border-right:2px solid $bluedark;
	}
	
	.sec_three_arrow_right {
		order:3;
	}
	
	
	a.sec_three_button.mobile {
		display: none;
	}
	
	
} /* Media Query */

