

#section_two {
	position: relative;
	z-index: 1;	
	margin-top: 740px;
	background: #fff;
	padding:1px 60px 120px;
}


.sec_two_inner {
	max-width: 1375px;
	margin:157px auto 0px;
}


span.sec_two_title {
	display: block;
	font-size: 60px;
	line-height: 60px;
	color:$bluelight;
	text-align: center;
	@include rufina_bold;
	&:after {
		content:"";
		display: block;
		width:213px;
		height:4px;
		background: $red;
		margin:50px auto 0;
	}
}

.sec_two_intro {
	font-size: 23px;
	line-height: 40px;
	text-align: center;
	margin:37px auto 0;
	max-width: 865px;
	@include rufina_bold;
	p {
		margin-bottom:35px;
	}
}


.sec_two_inner_content {
	display: flex;
	justify-content: space-between;
	padding:45px 0 0;
	.sec_two_col {
		flex-basis:45.5%;
	}
}


@media screen and (max-width: 1450px) {
	
	#section_two {
		padding: 1px 60px 105px;
	}
	
	.sec_two_inner {
    margin: 115px auto 0px;
  }
  
  
  .sec_two_inner_content {
   	padding: 48px 0 0;
   	.sec_two_col {
	   	flex-basis: 48%;
   	}
   }
	
} /* Media Query */


@media screen and (max-width: 1390px) {
	
	
	#section_two {
		padding:1px 40px 100px;
	}
	
	.sec_two_inner {
    margin: 103px auto 0px;
  }
  
  span.sec_two_title {
	  font-size: 50px;
	  line-height: 50px;
	  &:after {
		 	margin: 50px auto 0;
	  }
  }
  
      
	.sec_two_intro {
		font-size: 18px;
		line-height: 33px;
		margin: 43px auto 0;
		max-width: 760px;
	}
	
	.sec_two_inner_content {
    padding: 65px 0 0;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	#section_two {
    padding: 1px 56px 45px;
	}
	
	span.sec_two_title {
		font-size: 60px;
		line-height: 61px;
		max-width: 480px;
		margin:0 auto;
		&:after {
			margin: 46px auto 0;
		}
	}
	
	.sec_two_inner {
		margin: 64px auto 0px;
	}
	
	.sec_two_inner_content {
    padding: 9px 0 0;
    display: block;
	}
	
	
	
	.sec_two_intro {
		max-width: 605px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	#section_two {
		padding: 1px 30px 85px;
	}
	
	
	span.sec_two_title {
		font-size: 45px;
		line-height: 50px;
		max-width: 350px;
		&:after {
			
		}
	}
	
	.sec_two_inner {
		margin: 50px auto 0px;
	}
	
	
	.sec_two_intro {
		margin: 50px auto 0;
		font-size: 19px;
		p {
			margin-bottom: 30px;
		}
	}
	
	.sec_two_inner_content {
     padding: 7px 0 0;
   }
	
	
} /* Media Query */