#section_one {
	width:100%;
}


.sec_one_top {
	position: relative;
	z-index:1;
	height:1070px;
	overflow: hidden;
}


.sec_one_top_inner {
	position: relative;
	z-index:1;
	max-width: 1555px;
	margin:0 auto;
	padding:160px 0 0 0;
}


.sec_one_top_row {
	display: flex;
	
}

.sec_one_top_row_left {
	span {
		display: block;
		color:#fff;
	}
	span.sec_one_subheader {
		text-transform: uppercase;
		font-size: 20px;
		line-height: 26px;
		letter-spacing: 0.3em;
		@include sans_black;
	}
	span.sec_one_largeheader {
		font-size: 80px;
		line-height: 90px;
		margin-top:22px;
		@include rufina_bold;
	}
}


img.hero {
	width:100%;
	height:1199px;
	position: absolute;
	top:0;
	left:0;
	object-fit:cover;
}




a.request_button {
	width:395px;
	display: block;
	background: rgba(255,255,255, 0.2);
	text-align: center;
	text-decoration: none;
	padding:8px;
	border-radius: 45px;
	margin-top:28px;
	&:hover {
		span {
			color:$red;
			&:after {
				opacity: 1;
			}
		}
	}
	span {
		display: block;
		position: relative;
		z-index:1;
		font-size:20px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		padding:25px 0;
		transition: all 200ms ease-in-out;
		@include sans_bold;
		&:before, &:after {
			content:"";
			display: block;
			width:100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
			border-radius: 45px;
		}
		&:before {
			background: linear-gradient(to bottom,  #fe322e 0%,#ef1d1a 46%,#be2623 100%); 
			z-index:-2;
		}
		&:after {
			opacity: 0;
			background: linear-gradient(to bottom, #ffffff 0%,#b6b6b6 100%);
			z-index:-1;
			transition: all 300ms ease-in-out;
		}
	}
}


.sec_one_top_row_right {
	width:710px;
	display: flex;
	justify-content: space-between;
	margin-top:6px;
}

.sec_one_video_wrapper {
	cursor: pointer;
	&:hover {
		.sec_one_video_inner {
			.sec_one_video_overlay {
				.play_button {
					border:15px solid rgba(255,255,255,0.5);
					span {
						
					}
				}
			}
		}
	}
	.sec_one_video_inner {
		position: relative;
		height:100%;
		img {	
			width:100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
			object-fit:cover;
		}
		.sec_one_video_overlay {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background: rgba(0,0,0,0.5);
			display: flex;
			justify-content: center;
			align-items: center;
			.play_button {
				width:170px;
				height:170px;
				border-radius: 50%;
				border:15px solid rgba(255,255,255,0.15);
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all 200ms ease-in-out;
				span {
					display: block;
					width:90px;
					height:90px;
					background: #fff;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					&:before {
						content:"";
						display: block;
						width: 0; 
						height: 0; 
						border-top: 13px solid transparent;
						border-bottom: 13px solid transparent;
						border-left: 16px solid $red;
						position: relative;
						top:0;
						left:3px;
					}
				}
			}
		}
	}
}

.sec_one_testi_wrapper {
	background:$bluelight;
	padding-top:40px;
}

.sec_one_right_box {
	width:48%;
	height:422px;
	box-shadow: 0px 1px 14.85px 0.15px rgba(11, 16, 22, 0.7);
}


.sec_one_testi_slider {
	text-align: center;
	width:100%;
}


.sec_one_testi_slide {
	img {
		display: block;
		margin:0 auto;
	}
	img.quote {
		margin-top:-3px;
	}
	span {
		display: block;
	}
	span.description {
		color:#fff;
		font-size: 18px;
		line-height: 30px;
		margin:25px auto 0;
		display: block;
		max-width: 250px;
		@include sans_semibold;
		&:after {
			content:"";
			display: block;
			width:46px;
			height:2px;
			background: $red;
			margin:19px auto 0;
		}
	}
	span.name {
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 0.1em;
		color:#fff;
		margin-top:22px;
		@include sans_bold;
	}
	span.client {
		color:#fff;
		margin-top:10px;
		font-size: 14px;
		letter-spacing: 0.05em;
		@include sans_semibold;
	}
}

.test_arrows {
	width:230px;
	height:45px;
	position: relative;
	margin:70px auto 0;
	display: flex;
	
	justify-content: space-between;
	.arrow {
		position: absolute;
		top:10px;
		z-index:1;
	}
	span.arrow_circle {
		
	}
}

.test_arrow {
	flex-basis:50%;
}


.arrow_circle {
	width:38px;
	height:38px;
	display: block;
	border-radius: 50%;
	position: relative;
	padding:3px;
	background:rgba(255,255,255,0.15);
	&:before {
		content:"";
		display: block;
		border-radius: 50%;
		background: $bluedark;
		width:100%;
		height:100%;
	}
}



.test_arrow_left {
	.arrow {
		left:16px;
	}
}

.test_arrow_right {
	display: flex;
	justify-content: flex-end;
	.arrow {
		right:16px;
		transform: rotate(180deg);
	}
}


.sec_one_bottom {
	width:100%;
	padding:1px 0 0 0;
	//min-height:692px;
	position: relative;
	//z-index:1;
	margin-top:-140px;
	//overflow: hidden;
}



.sec_one_sp {
	width:100%;
	max-width: 1555px;
	margin:145px auto 0;
	position: relative;
	z-index:1;
	&:after {
		content:"";
		margin-top:57px;
		display: block;
		border-bottom:1px solid #3e4a4f;
	}
	ul {
		list-style: none;
		
	}
	ul {
		display: flex;
		justify-content: space-between;
		position: relative;
		
		
		#magic-line {
     position: absolute;
     bottom: -59px;
     left: 0;
     z-index:1;
     padding: 0;
     width: 25%;
     height: 4px;
     border:none;
     background: $red;
     }
		> li {
				&:nth-of-type(1) {
					//flex-basis:17%;
					//margin-right:20px;
					a {
						span.description {
							max-width:230px;
						}
					}
				}
				&:nth-of-type(2) {
					a {
						span.description {
							max-width:250px;
						}
					}
				}
				&:nth-of-type(3) {
					a {
						span.description {
							max-width:270px;
						}
					}
				}
				&:nth-of-type(4) {
					//margin-right:18px;
					a {
						span.description {
							max-width:260px;
						}
					}
				}
				&:hover {
					a {
						span.roman_num {
							color:$redlight;
						}
					}
				}
				a {
					display: flex;
					span.roman_num {
						font-size: 30px;
						color:#fff;
						margin-right:13px;
						transition: all 300ms ease-in-out;
						@include rufina_bold;
					}
					span.description {
						color:#fff;
						font-size: 19px;
						line-height: 28px;
						@include sans_reg;
					}
				}
			}
		}
	}




	img.hero_bottom {
		position: fixed;
		top: 0px;
		left:0;
		z-index:0;
	}
	
	
	.phoenix_cutout {
		position: absolute;
		top:50px;
		right:0;
		width:100%;
		display: flex;
		z-index:1;
		.pheonix_spacer_one {
			flex-grow:1;
			background: $bluedark;
		}
		img.phoenix_cutout_img {
			width:1100px;
			display: block;
			margin-left:-1px;
			margin-right:-1px;
		}
		.pheonix_spacer_two {
			flex-basis:4%;
			background: $bluedark;
		}
	}
	
	
	.sec_bottom_bg {
		background: $bluedark;
		width:100%;
		position: relative;
		z-index:1;
		top: 741px;
		color:#fff;
		padding-top:1px;
	}
	
	
	.sec_bottom_inner {
		max-width:1355px;
		margin: -568px auto 0;
	}
	
	.sec_bottom_left {
		max-width:745px;
		padding-bottom:180px;
		h1.sec_one_h1 {
			font-size: 75px;
			line-height: 75px;
			@include rufina_bold;
			&:after {
				content:"";
				display: block;
				width:214px;
				height:4px;
				background: $red;
				margin-top:72px;
				margin-bottom:47px;
			}
		}
	}
	
	
	.sec_bottom_left.content {
		.sec_one_intro {
			color:#fff;
			font-size: 23px;
			line-height: 40px;
			@include rufina_bold;
			p {
				margin-bottom:30px;
			}
		}
		.sec_one_left_content {
			padding:10px 0 0 0;
			font-size: 19px;
			line-height: 40px;
			@include sans_reg;
			p {
				margin-bottom:23px;
			}
			a {
				color:$red;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	
	


@media screen and (min-width: 1920px) {
	
	
	img.hero_bottom {
		width:100%;
	}
	
	
} /* Media Query */


