#section_one {
	width:100%;
}


.sec_one_top {
	position: relative;
	z-index:1;
	height:1070px;
	overflow: hidden;
}


.sec_one_top_inner {
	position: relative;
	z-index:1;
	max-width: 1663px;
	margin:0 auto;
	padding:160px 0 0 0;
}


.sec_one_top_row {
	display: flex;
	justify-content: space-between;
	padding: 0 56px 0 61px;
}

.sec_one_top_row_left {
	span {
		display: block;
		color:#fff;
	}
	span.sec_one_subheader {
		text-transform: uppercase;
		font-size: 20px;
		line-height: 26px;
		letter-spacing: 0.3em;
		@include sans_black;
	}
	span.sec_one_largeheader {
		font-size: 80px;
		line-height: 90px;
		margin-top:22px;
		@include rufina_bold;
	}
}


img.hero {
	width:100%;
	height:1199px;
	position: absolute;
	top:0;
	left:0;
	object-fit:cover;
}




a.request_button {
	width:395px;
	display: block;
	background: rgba(255,255,255, 0.2);
	text-align: center;
	text-decoration: none;
	padding:8px;
	border-radius: 45px;
	margin-top:28px;
	&:hover {
		span {
			color:$red;
			&:after {
				opacity: 1;
			}
		}
	}
	span {
		display: block;
		position: relative;
		z-index:1;
		font-size:20px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		padding:25px 0;
		transition: all 200ms ease-in-out;
		@include sans_bold;
		&:before, &:after {
			content:"";
			display: block;
			width:100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
			border-radius: 45px;
		}
		&:before {
			background: linear-gradient(to bottom,  #fe322e 0%,#ef1d1a 46%,#be2623 100%); 
			z-index:-2;
		}
		&:after {
			opacity: 0;
			background: linear-gradient(to bottom, #ffffff 0%,#b6b6b6 100%);
			z-index:-1;
			transition: all 300ms ease-in-out;
		}
	}
}


.sec_one_top_row_right {
	width:710px;
	display: flex;
	justify-content: space-between;
	margin-top:6px;
}

.sec_one_wistia {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 1;
}

.sec_one_video_wrapper {
	cursor: pointer;
	overflow: hidden;
	position: relative;
	&:hover {
		.sec_one_video_inner {
			.sec_one_video_overlay {
				.play_button {
					border:15px solid rgba(255,255,255,0.5);
					span {
						
					}
				}
			}
		}
	}
	.sec_one_video_inner {
		position: relative;
		height:100%;
		img {	
			width:100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
			object-fit:cover;
		}
		.video_cap_wrapper {
			position: absolute;
			bottom:50px;
			left:0;
			text-align: center;
			width:100%;
			span {
				color:#fff;
				display: block;
				text-transform: uppercase;
				font-size: 16px;
				line-height: 20px;
				letter-spacing: 0.15em;
				max-width:243px;
				margin:0 auto;
				@include sans_black;
			}
		}
		.sec_one_video_overlay {
			position: relative;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background: rgba(0,0,0,0.5);
			display: flex;
			justify-content: center;
			align-items: center;
			pointer-events: none;
			
			.play_button {
				width:165px;
				height:165px;
				border-radius: 50%;
				border:15px solid rgba(255,255,255,0.15);
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				top:-7px;
				transition: all 200ms ease-in-out;
				span {
					display: block;
					width:90px;
					height:90px;
					background: #fff;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					&:before {
						content:"";
						display: block;
						width: 0; 
						height: 0; 
						border-top: 13px solid transparent;
						border-bottom: 13px solid transparent;
						border-left: 16px solid $red;
						position: relative;
						top:0;
						left:3px;
					}
				}
			}
		}
	}
}

.sec_one_testi_wrapper {
	background:$bluelight;
	padding-top:40px;
}

.sec_one_right_box {
	width:48%;
	height:422px;
	box-shadow: 0px 1px 14.85px 0.15px rgba(11, 16, 22, 0.7);
}


.sec_one_testi_slider {
	text-align: center;
	width:100%;
}


.sec_one_testi_slide {
	img {
		display: block;
		margin:0 auto;
	}
	img.quote {
		margin-top:-3px;
	}
	span {
		display: block;
	}
	span.description {
		color:#fff;
		font-size: 18px;
		line-height: 30px;
		margin:25px auto 0;
		display: block;
		max-width: 250px;
		@include sans_semibold;
		&:after {
			content:"";
			display: block;
			width:46px;
			height:2px;
			background: $red;
			margin:19px auto 0;
		}
	}
	span.name {
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 0.1em;
		color:#fff;
		margin-top:22px;
		@include sans_bold;
	}
	span.client {
		color:#fff;
		margin-top:10px;
		font-size: 14px;
		letter-spacing: 0.05em;
		@include sans_semibold;
	}
}

.test_arrows {
	width:230px;
	height:45px;
	position: relative;
	margin:70px auto 0;
	display: flex;
	justify-content: space-between;
	.arrow {
		position: absolute;
		top:10px;
		z-index:1;
	}
	span.arrow_circle {
		
	}
}

.test_arrow {
	flex-basis:50%;
}


.arrow_circle {
	width:38px;
	height:38px;
	display: block;
	border-radius: 50%;
	position: relative;
	padding:3px;
	background:rgba(255,255,255,0.15);
	&:before {
		content:"";
		display: block;
		border-radius: 50%;
		background: $bluedark;
		width:100%;
		height:100%;
		opacity: 0.8;
	}
}



.test_arrow_left {
	.arrow {
		left:16px;
	}
}

.test_arrow_right {
	display: flex;
	justify-content: flex-end;
	.arrow {
		right:16px;
		transform: rotate(180deg);
	}
}


.sec_one_bottom {
	width:100%;
	padding:1px 0 0 0;
	position: relative;
	margin-top:-140px;
	//overflow: hidden;
}



.sec_one_sp {
	width:100%;
	max-width: 1623px;
	margin:145px auto 0;
	position: relative;
	z-index:1;
	padding:0 34px;
	&:after {
		content:"";
		margin-top:57px;
		display: block;
		border-bottom:1px solid #3e4a4f;
	}
	span.why_choose {
		display: none;
	}
	ul {
		list-style: none;
		
	}
	ul {
		display: flex;
		justify-content: space-between;
		position: relative;
		.magic-line {
     position: absolute;
     bottom: -59px;
     left: 0;
     z-index:1;
     padding: 0;
     width: 25%;
     height: 4px;
     border:none;
     background: $red;
     }
		 li {
				&:nth-of-type(1) {
					//flex-basis:17%;
					//margin-right:20px;
					a {
						span.description {
							max-width:230px;
						}
					}
				}
				&:nth-of-type(2) {
					a {
						span.description {
							max-width:250px;
						}
					}
				}
				&:nth-of-type(3) {
					a {
						span.description {
							max-width:262px;
						}
					}
				}
				&:nth-of-type(4) {
					//margin-right:18px;
					a {
						span.description {
							max-width:260px;
						}
					}
				}
				&:hover {
					a {
						span.roman_num {
							color:$redlight;
						}
					}
				}
				a {
					display: flex;
					span.roman_num {
						font-size: 30px;
						color:#fff;
						margin-right:13px;
						transition: all 300ms ease-in-out;
						@include rufina_bold;
					}
					span.description {
						color:#fff;
						font-size: 19px;
						line-height: 28px;
						@include sans_reg;
					}
				}
			}
		}
	}




	img.hero_bottom {
		position: fixed;
		top: 0px;
		left:0;
		z-index:0;
	}
	
	
	.phoenix_cutout {
		position: absolute;
		top:50px;
		right:0;
		width:100%;
		display: flex;
		z-index:1;
		.pheonix_spacer_one {
			flex-grow:1;
			background: $bluedark;
		}
		img.phoenix_cutout_img {
			width:1100px;
			display: block;
			margin-left:-1px;
			margin-right:-1px;
		}
		.pheonix_spacer_two {
			flex-basis:4%;
			background: $bluedark;
		}
	}
	
	
	.sec_bottom_bg {
		background: $bluedark;
		width:100%;
		position: relative;
		z-index:1;
		top: 741px;
		color:#fff;
		padding-top:1px;
	}
	
	
	.sec_bottom_inner {
		max-width:1515px;
		padding:0 80px;
		margin: -584px auto 0;
	}
	
	.sec_bottom_left {
		max-width:745px;
		padding-bottom:180px;
		h1.sec_one_h1 {
			font-size: 75px;
			line-height: 75px;
			@include rufina_bold;
			&:after {
				content:"";
				display: block;
				width:214px;
				height:4px;
				background: $red;
				margin-top:72px;
				margin-bottom:47px;
			}
		}
	}
	
	
	.sec_bottom_left.content {
		.sec_one_intro {
			color:#fff;
			font-size: 23px;
			line-height: 40px;
			@include rufina_bold;
			p {
				margin-bottom:30px;
			}
		}
		.sec_one_left_content {
			padding:10px 0 0 0;
			font-size: 19px;
			line-height: 40px;
			@include sans_reg;
			p {
				margin-bottom:23px;
			}
			a {
				color:$red;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	
	
.sp_arrows {
	display: none;
}

@media screen and (min-width: 1921px) {
	
	
	img.hero_bottom {
		width:100%;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1630px) {
	
	
	
	
	.sec_one_top_inner {
		padding: 153px 0 0 0;
	}
	
	.sec_one_top_row_left {
		padding-right:50px;
		span.sec_one_subheader {
			font-size: 18px;
		}
		span.sec_one_largeheader {
			//font-size:70px;
			//line-height: 79px;
			//max-width: 560px;
			max-width:660px;
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1480px) {
	
	
	.sec_one_top_row {
		padding: 0 47px 0 61px;
	}
	
	
	.sec_one_top_row_left {
		span.sec_one_subheader {
			
		}
		span.sec_one_largeheader {
			font-size:70px;
			line-height: 79px;
			max-width: 560px;
		}
	}
	
	
	a.request_button {
   margin-top: 20px;
  }
  
  .sec_one_sp {
  	margin: 122px auto 0;
  	&:after {
	  	margin-top: 51px;
  	}
  	ul {
	  	.magic-line {
		  	bottom: -54px;
	  	}
  	}
  }
	
	
	.phoenix_cutout {
		.pheonix_spacer_two {
			flex-basis:0;
		}
		img.phoenix_cutout_img {
			margin-right:-185px;
		}
	}

	img.hero_bottom {
  	left: -290px;
  }
  
  .sec_one_top {
    height: 1050px;
  }
  
  .sec_one_top_inner {
    padding: 152px 0 0 0;
	}
	
	.test_arrows{
		width: 218px;
	}
	
	.sec_one_top_row_right {
		margin-top: 11px;
	}
	  
	.sec_bottom_inner {
		margin: -563px auto 0;
	}
	
	
	.sec_bottom_left {
		h1.sec_one_h1 {
			&:after {
				margin-top: 69px;
			}
		}
	}
	
	.phoenix_cutout {
   top: 64px;
  }
	
} /* Media Query */



@media screen and (max-width: 1390px) {
	
	
	.sec_one_top_row {
		padding: 0 41px;
	}
	
	.sec_one_top {
    height: 888px;
	}
	
	
	.sec_one_top_inner {
		padding: 127px 0 0 0;
	}
	
	
	a.request_button {
		margin-top: 31px;
		width: 333px;
		span {
			font-size: 17px;
			padding: 21px 0;
		}
	}
	
	
	.sec_one_top_row_left {
		padding-top:13px;
		padding-right: 10px;
		span.sec_one_subheader {
			font-size: 16px;
		}
		span.sec_one_largeheader {
			font-size: 53px;
			line-height: 60px;
		}
	}
	
	
	.sec_one_top_row_right {
    width: 588px;
    margin-top: 4px;
  }
	
	.sec_one_right_box {
		height:351px;
	}
	
	
	.sec_one_video_wrapper {
		.sec_one_video_inner {
			.sec_one_video_overlay {
				.video_cap_wrapper {
					bottom: 65px;
					span {
						font-size: 14px;
						line-height: 15px;
					}
				}
				.play_button {
					width:138px;
					height:138px;
					border: 13px solid rgba(255,255,255,0.15);
					top: -28px;
					span {
						height:72px;
						width:72px;
						&:before {
							border-top: 10px solid transparent;
							border-bottom: 10px solid transparent;
							border-left: 12px solid #be2623;
						}
					}
				}
			}
		}
	}
	
	.sec_one_testi_wrapper {
		padding-top: 24px;
	}
	
	
	.sec_one_testi_slide {
		span.description {
			font-size: 16px;
			line-height: 25px;
			margin: 20px auto 0;
			&:after {
				margin: 12px auto 0;
			}
		}
		span.client {
			margin-top: 7px;
		}
	}
	
	.test_arrows {
  	margin: 49px auto 0;
  }
  
  .sec_one_sp {
    margin: 145px auto 0;
    &:after {
	  	margin-top: 48px;
    }
    ul {
	    .magic-line {
		    bottom: -51px;
	    }
	     li {
		    flex-basis:25%;
		    	&:nth-of-type(1) {
			    	a {
				    	span.description {
					   	 max-width: 200px;
				    	}
				   	}
		    	}
		    	&:nth-of-type(2) {
			    	a {
				    	span.description {
					   	 max-width: 195px;
				    	}
				   	}
		    	}
		    	&:nth-of-type(3) {
			    	a {
				    	span.description {
					   	 max-width: 190px;
				    	}
				   	}
		    	}
		    	&:nth-of-type(4) {
			    	a {
				    	span.description {
					   	 max-width: 196px;
				    	}
				   	}
		    	}
		    	a {
			    	span.roman_num {
				    	font-size: 25px;
							margin-right: 17px;
			    	}
						span.description {
				    	font-size: 16px;
							line-height: 22px;
			    	}
		    	}
	    	}
    	}
		}
		
		
		img.hero {
			height: 950px;
			object-position:21% 0%;
		}
		
		
		.sec_bottom_left {
			max-width:585px;
			h1.sec_one_h1 {
				font-size: 60px;
				line-height: 60px;
				&:after {
					margin-top: 33px;
					margin-bottom: 36px;
				}
			}
		}
		
		
		.phoenix_cutout {
			img.phoenix_cutout_img {
				margin-right: -289px;
			}
		}
		
		.sec_bottom_inner {
			padding:0 70px;
		}
		
		.sec_bottom_left {
			padding-bottom: 115px;
		}
		
		.sec_bottom_left.content {
			.sec_one_intro {
				font-size: 18px;
				line-height: 30px;
			}
			.sec_one_left_content {
				font-size: 18px;
				line-height: 30px;
				p {
					
				}
			}
		}
		
		
	.phoenix_cutout {
    position: absolute;
    top: 80px;
   }
   
   img.hero_bottom {
	  top: -47px;
    left: -377px;
		}
	
	
} /* Media Query */

@media screen and (max-width: 1180px) {
	
	
	
	#section_one {
		margin-top: 126px;
	}
	
	
	
} /* Media Query */

@media screen and (max-width: 1150px) {
	
	
	.sec_one_top_row {
		display: block;
		padding:0 48px;
	}
	
	.sec_one_top_row_left {
		text-align: center;
		padding:0;
		span.sec_one_largeheader {
			max-width: 720px;
			margin:12px auto 0;
		}
	}
	
	
	.sec_one_top_inner {
		padding: 74px 0 0 0;
	}
	
	
	a.request_button {
		margin: 23px auto 0;
	}
	
	
	.sec_one_top_row_right {
    margin: 44px auto 0;
    width:100%;
    max-width: 675px;
  }

	.sec_one_right_box {
    width: 47%;
  }
  
  
  
  .sec_one_video_wrapper {
		.sec_one_video_inner {
			.sec_one_video_overlay {
				.video_cap_wrapper {
					bottom: 61px;
					span {
						font-size: 16px;
						line-height: 18px;
					}
				}
				.play_button {
					top: -18px;
					width: 134px;
					height: 134px;
					span {
						width:69px;
						height:69px;
						&:before {
							
						}
					}
				}
			}
		}
	}
	
	.sec_one_top {
    height: auto;
    &:after {
	    content:"";
	    display: block;
	    width:100%;
	    height:470px;
	    background: $bluedark;
	    position: absolute;
	    bottom: -50px;
	    left:0;
    }
	}
  
  
  .sec_one_bottom {
    margin-top: -80px;
	}
  
  
  .sec_one_sp {
	  background: $bluedark;
	  margin: 115px auto 0;
	  max-width:771px;
	  padding:0 48px;
	  &:after {
			margin-top: 9px;
	  }
	  span.why_choose {
		  display: block;
		  text-align: center;
		  border-bottom:4px solid $red;
		  color: #fff;
		  font-size: 19px;
		  letter-spacing: 0.1em;
		  text-transform: uppercase;
		  padding:0 0 25px 0;
		  @include sans_bold;
	  }
	  ul {
		  flex-wrap:wrap;
		  margin-top: 45px;
		  padding:0 5px;
		   li {
			  	flex-basis:45%;
			  	margin-bottom: 47px;
			  	&:hover {
				  	a {
					  	span.roman_num {
						  	color:#fff;
						  	
					  	}
				  	}
			  	}
			  	&:nth-of-type(1) {
				  	a {
					  	span.description {
						  	max-width: 280px;
					  	}
					  }
				  }
				  &:nth-of-type(2) {
				  	a {
					  	span.description {
						  	max-width: 275px;
					  	}
					  }
				  }
				  &:nth-of-type(3) {
				  	a {
					  	span.description {
						  	max-width: 270px;
					  	}
					  }
				  }
				  &:nth-of-type(4) {
				  	a {
					  	span.description {
						  	max-width: 295px;
					  	}
					  }
				  }
					a {
						position: relative;
				  	span.roman_num {
					  	margin-top: 6px;
					  	position: absolute;
					  	top:0;
					  	left:0;
					  	margin-right:0;
				  	}
				  	span.description {
					  	font-size: 19px;
					  	line-height: 28px;
					  	padding-left:45px;
					  	
				  	}
			  }
		  }
		  .magic-line {
			  display: none;
		  }
	  }
  }
  
  
  .test_arrows {
    margin: 70px auto 0;
  }
  
  
  .sec_bottom_inner {
	  margin: -595px auto 0;
	  padding:0 58px;
  }
  
  .sec_bottom_left {
	  padding-bottom: 82px;
	  max-width:100%;
	  h1.sec_one_h1 {
		  max-width:530px;
		  &:after {
				margin-top: 60px;
				margin-bottom: 38px;
		  }
	  }
  }
  
  .sec_bottom_left.content {
	  .sec_one_intro {
		  font-size: 23px;
		  line-height: 40px;
		  p {
			  
		  }
	  }
	  .sec_one_left_content {
		  font-size: 19px;
		  line-height: 40px;
	  }
  }
  
  
  .phoenix_cutout {
	  top: 188px;
	  position: relative;
	  &:before {

		  content:"";
		  display: block;
		  width:100%;
		  height:111px;
		  position: absolute;
		  top:-109px;
		  left:0;
		  background: $bluedark;

	  }
	  img.phoenix_cutout_img {
			width: 481px;
			margin-right: -90px;
	  }
  }
  
  
  .sec_bottom_bg {
		margin-top: -553px;
  }
  
  .sec_bottom_inner {
    margin: -344px auto 0;
   }
   
   
   img.hero {
	   margin-top:-35px;
   }
   
   
   
   .sec_one_testi_slide {
	   img.stars {
		 	width: 110px;
	   }
	   img.quote {
		   width:25px;
		   margin-top: -11px;
	   }
	   span.description {
		   font-size: 19px;
		   max-width: 260px;
		   margin-top:30px;
		    line-height: 27px;
	   }
   }
  
	
} /* Media Query */



@media screen and (max-width: 890px) {
	
	
	
	img.hero {
  	object-position: 45% 0;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 755px) {
	
	
	
	
	.sec_one_top_row_left {
		span.sec_one_largeheader {
			max-width: 600px;
		}
	}
	
	  
	
	
} /* Media Query */

@media screen and (max-width: 700px) {
	
	
	#section_one {
		margin-top: 95px;
	}
	
	.sec_one_top_row_left {
		span.sec_one_subheader {
			font-size: 17px;
			line-height: 18px;
		}
		span.sec_one_largeheader {
			font-size: 40px;
			line-height: 45px;
			margin: 19px auto 0;
			max-width: 590px;
		}
	}
	
	.sec_one_top_inner {
    padding: 46px 0 0 0;
	}
	
	
	a.request_button {
    margin: 19px auto 0;
	}
	
	.sec_one_top_row_right {
		display: block;
		margin: 27px auto 0;
		max-width:316px;
		//padding:0 50px;
	}
	
	.sec_one_right_box {
		width:100%;
		&:first-of-type {
			height:195px;
				margin-bottom:23px;
		}
	}
	
	.sec_one_video_wrapper {
		.sec_one_video_inner {
			.sec_one_video_overlay {
				.video_cap_wrapper {
					bottom: 24px;
				}
				.play_button {
					top: -12px;
				}
			}
		}
	} 
	
	.sec_one_testi_wrapper {
    padding:35px 10px 45px;
    height:auto;
	}
	
	.sec_one_testi_slide {
		
		img.stars {
			width:114px;
		}
		img.quote {
			width:25px;
			margin-top: -14px;
		}
		span.description {
			margin: 13px auto 0;
			font-size: 17px;
			line-height: 24px;
			max-width: 100%;
			&:after {
				margin: 17px auto 0;
			}
		}
		span.name {
			margin-top: 23px;
		}
	} 	
	
	
	.test_arrows {
		display: none;
	}
	
	
	
	.sec_one_sp {
    margin: 30px auto 0;
		span.why_choose {
			max-width:316px;
			margin-left:auto;
			margin-right:auto;
		}
    &:after {
	    display: none;
    }
    ul {
	    display: block;
	    margin-top: 14px;
	    li {
		    margin-bottom: 0;
		    a {
			    display: block;
			    text-align: center;
			    span {
				    display: block;
			    }
			    span.roman_num {
				    position: static;
				    font-size: 30px;
				    margin-top: 10px;
			    }
			    span.description {
				    margin-left:auto;
				    margin-right:auto;
				    padding-left:0;
				    margin-top: 10px;
			    }
		    }
	    }
    }
  }
  
  
  
  .sp_arrows {
	  position: relative;
		display: flex;
		justify-content: space-between;
		background: #071d25;
		width:100vw;
		margin-left:-48px;
		margin-top: 39px;
	}
  
  
  .sp_arrow {
	  flex-basis:50%;
	  height: 68px;
	  .sp_arrow_inner {
		  display: flex;
		  align-items: center;
		  position: relative;
		  width:38px;
		  height:100%;
		  margin:0 auto;
	  }
	  .arrow {
		  position: absolute;
		  z-index:1;
	  }
  }
  
  
.sp_arrow_left {
	border-right:2px solid $bluedark;
	.arrow {
		left:16px;
	}
}

.sp_arrow_right {
	display: flex;
	justify-content: flex-end;
	.arrow {
		right:16px;
		transform: rotate(180deg);
	}
}



.sec_bottom_left {
	padding-bottom: 31px;
	h1.sec_one_h1 {
		font-size: 45px;
		line-height: 50px;
		text-align: center;
		max-width:400px;
		margin-left:auto;
		margin-right:auto;
		&:after {
			margin: 34px auto 30px;
		}
	}
}


.phoenix_cutout {
	top: 79px;
	justify-content: center;
	&:before {
		display: none;
	}
	.pheonix_spacer_one, .pheonix_spacer_two {
		flex-grow:inherit;
		width:100%;
		height:250px;
		background: $bluedark;
		flex-basis:auto;
	}
	.pheonix_spacer_two {
		
	}
	img.phoenix_cutout_img {
		width: 398px;
		margin-right:0;
		flex-shrink: 0;
		margin-left:-1px;
		margin-right:-1px;
	}
}


.sec_bottom_bg {
	margin-top: -662px;
}


.sec_bottom_inner {
  margin: -122px auto 0;
}


.sec_bottom_left.content {
	.sec_one_intro {
		font-size: 19px;
		line-height: 30px;
		text-align: center;
		p {
			
		}
	}
	.sec_one_left_content {
		font-size: 18px;
		line-height: 30px;
		text-align: center;
	}
}


.sec_bottom_inner {
	padding: 0px 20px;
}
	
	
} /* Media Query */


@media screen and (max-width: 595px) {
	
	
	.sec_one_top_row_left {
		span.sec_one_largeheader {
    	max-width: 460px;
    }
	}
	
	.sec_one_top_row {
		padding:0;
	}
	
	
	.sec_one_top_row_left {
		span.sec_one_subheader {
			max-width: 240px;
			margin-left:auto;
			margin-right:auto;
		}
		span.sec_one_largeheader {
			margin: 16px auto 0;
		}
	}
	
	
	a.request_button {
		width:100%;
		max-width: 325px;
	}


	
	
} /* Media Query */


@media screen and (max-width: 490px) {
	
	img.hero {
		margin-top: -26px;
		object-position:48% 0%;
	}
	
	
	
} /* Media Query */


