body {
	color:$bluedark;
}

.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
	max-width:100%;
	height:auto;
}



h1,h2,h3,h4 {
	font-style: normal;
	font-weight: 300;
}


.gform_wrapper ul li ::-webkit-input-placeholder {
  color: #000; }
.gform_wrapper ul li ::-moz-placeholder {
  color: #000; }
 .gform_wrapper ul li :-moz-placeholder {
   color: #000; }
 .gform_wrapper ul li :-ms-input-placeholder {
   color: #000; }
 .gform_wrapper ul li ::-moz-placeholder {
    opacity: 1; }



		.content {
			font-size: 18px;
			line-height: 30px;
			@include sans_reg;
			p {
				margin-bottom:29px;
			}
			h2 {
				font-size: 27px;
				line-height: 32px;
				color:$red;
				margin-bottom:20px;
				@include rufina_bold;
			}
			h3 {
				font-size: 22px;
				line-height: 28px;
				text-transform: uppercase;
				margin-bottom:30px;
				color:#0d3745;
				letter-spacing: 0.1em;
				@include sans_black;
			}
			ul {
				list-style: none;
				li {
					color:#0d3745;
					line-height: 25px;
					margin-bottom:25px;
					position: relative;
					padding-left:30px;
					@include sans_black;
					&:before {
						content:"";
						display: block;
						width:7px;
						height:7px;
						background: $red;
						position: absolute;
						top:10px;
						left:0;
						border-radius: 50%;
					}
				}
			}
		}
		
		
@media screen and (max-width: 1390px) {
	
	
	.content {
		font-size: 16px;
		line-height: 25px;
		h2 {
			font-size: 24px;
			line-height: 30px;
			margin-bottom: 31px;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	.content {
		font-size: 17px;
		line-height: 33px;
		h2 {
			
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
.alignleft,
.alignright,
.aligncenter,
img.alignleft,
img.alignright,
img.aligncenter {
	margin:4px auto 0px;
	float:none;
	max-width:100%;
	height:auto;
}
	
	
	
	.content {
		p {
			margin-bottom: 20px;
		}
	}
	
	
	
} /* Media Query */