
header {
	width:100%;
	height:126px;
	background: #fff;
	padding:0 42px 0 35px;
	box-shadow: 0px 1px 14.85px 0.15px rgba(6, 23, 29, 0.2);
	display: flex;
	justify-content: space-between;
}

.header_left {
	padding-top:8px;
}


.header_right {
	display: flex;
	justify-content: flex-end;
	flex-grow:1;
}

nav {
	flex-grow:1;
	padding-right:37px;
	padding-top:66px;
	ul {
		list-style: none;
		li {
			font-size: 17px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			a {
				text-decoration: none;
				color:$bluedark;
				transition: all 300ms ease-in-out;
				cursor: pointer;
				&:hover {
					color:$red;
				}
			}
		}
		li.current-menu-item {
			a {
				color:$red;
			}
		}
	}
	ul.menu {
		display: flex;
		justify-content: flex-end;
		> li {
			margin-left:2.6%;
			padding-bottom:42px;
			@include sans_black;
			> a {
				 
			}
		}
		> li.menu-item-has-children {
			position: relative;
			&:hover {
				> a {
					color:$red;
					&:after {
						border-top: 5px solid $red;
					}
				}
				> ul.sub-menu {
					opacity: 1;
					visibility: visible;
				}
			}
				> a {
					position: relative;
						&:after {
							content:"";
							display: block;
							position: absolute;
							top:8px;
							right:-14px;
							width: 0; 
							height: 0; 
							border-left: 5px solid transparent;
							border-right: 5px solid transparent;
							border-top: 5px solid $bluedark;
							transition: all 300ms ease-in-out;
						}
				}
		}
		> li.current-menu-ancestor {
				> a {
					color:$red;
					&:after {
						border-top: 5px solid $red;
					}
				}
		}
	}
	ul.sub-menu {
		position: absolute;
		top:60px;
		left: 15px;
		padding:24px 35px 0;
		background:#fff;
		width:299px;
		opacity: 0;
		visibility: hidden;
		transition: all 300ms ease-in-out;
		//box-shadow: 0px 1px 14.85px 0.15px rgba(6, 23, 29, 0.2);
		li {
			margin-bottom:25px;
			line-height:20px;
			@include sans_bold;
		}
	}
}


.free_consultation {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 25px;
	span.free_consult_title {
		color:$bluedark;
		font-size: 21px;
		letter-spacing: 0.025em;
		@include rufina_bold;
	}
	a.phone {
		color:$red;
		font-size: 40px;
		text-decoration: none;
		margin-top:4px;
		@include sans_black;
	}
}


