
header {
	width:100%;
	height:126px;
	background: #fff;
	padding:0 42px 0 35px;
	box-shadow: 0px 1px 14.85px 0.15px rgba(6, 23, 29, 0.2);
	display: flex;
	justify-content: space-between;
}

.header_left {
	padding-top:8px;
}


.header_right {
	display: flex;
	justify-content: flex-end;
	flex-grow:1;
}

nav {
	flex-grow:1;
	padding-right:37px;
	padding-top:66px;
	ul {
		list-style: none;
		li {
			font-size: 17px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			a {
				text-decoration: none;
				color:$bluedark;
				transition: all 300ms ease-in-out;
				cursor: pointer;
			}
		}
		li.current-menu-item {
			a {
				color:$red;
			}
		}
	}
	ul.menu {
		display: flex;
		justify-content: flex-end;
		> li {
			margin-left:2.6%;
			padding-bottom:42px;
			@include sans_black;
			> a {
				 
			}
		}
		> li.menu-item-has-children {
			position: relative;
			
				> a {
					position: relative;
						&:after {
							content:"";
							display: block;
							position: absolute;
							top:8px;
							right:-14px;
							width: 0; 
							height: 0; 
							border-left: 5px solid transparent;
							border-right: 5px solid transparent;
							border-top: 5px solid $bluedark;
							transition: all 300ms ease-in-out;
						}
				}
		}
		> li.current-menu-ancestor {
				> a {
					color:$red;
					&:after {
						border-top: 5px solid $red;
					}
				}
		}
	}
	ul.sub-menu {
		position: absolute;
		top:60px;
		left: 15px;
		padding:24px 35px 0;
		background:#fff;
		width:299px;
		opacity: 0;
		visibility: hidden;
		transition: all 300ms ease-in-out;
		//box-shadow: 0px 1px 14.85px 0.15px rgba(6, 23, 29, 0.2);
		li {
			margin-bottom:25px;
			line-height:20px;
			@include sans_bold;
		}
	}
}

nav.nav_desktop {
	ul {
		li {
			a {
				&:hover {
					color:$red;
				}
			}
		}
	}
	ul.menu {
		> li.menu-item-has-children {
			&:hover {
				> a {
					color:$red;
					&:after {
						border-top: 5px solid $red;
					}
				}
				> ul.sub-menu {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}

/*
&:hover {
				> a {
					color:$red;
					&:after {
						border-top: 5px solid $red;
					}
				}
				> ul.sub-menu {
					opacity: 1;
					visibility: visible;
				}
			}
*/


.free_consultation {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 25px;
	span.free_consult_title {
		color:$bluedark;
		font-size: 21px;
		letter-spacing: 0.025em;
		@include rufina_bold;
	}
	a.phone {
		color:$red;
		font-size: 40px;
		text-decoration: none;
		margin-top:4px;
		@include sans_black;
	}
}



.mobile_menu {
	display: none;
}



@media screen and (max-width: 1720px) {
	
	
	header {
		padding: 0 27px 0 35px;
	}
	
	.header_right {
		flex-direction: column;
		align-items: flex-end;
	}
	
	
	.free_consultation {
		order:1;
		flex-direction: row;
		margin-top: 22px;
		span.free_consult_title {
			font-size: 19px;
			margin-top:3px;
			margin-right:6px;
		}
		a.phone {
			font-size: 35px;
			margin:0;
		}
	}
	
	nav {
		padding:0px 0 0 0;
		position: relative;
		top:22px;
		order:2;
		width: 100%;
		ul.menu {
			> li {
				  margin-left: 3%;
					&:first-of-type {
						margin-left:0;
					}
			}
		}
		ul.sub-menu {
			top: 47px;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1390px) {
	
	
	header {
		padding: 0 21px 0 35px;
	}
	
	
	.free_consultation {
		margin-top: 26px;
		span.free_consult_title {
			font-size: 20px;
		}
		a.phone {
			@include sans_bold;
		}
	}
	
	nav {
		top: 20px;
		ul {
			li {
				font-size: 15px;
			}
		}
		ul.menu {
			> li {
					padding-bottom: 31px;
					@include sans_semibold;
				}
			> li.menu-item-has-children {
				> a {
					&:after {
						top: 6px;
					}
				}
			}
		}
		ul.sub-menu {
			top: 45px;
		}
	}
	
	
} /* Media Query */

@media screen and (max-width: 1275px) {
	
	header {
		padding:0 22px;
	}
	
	.header_left {
		padding-top: 22px;
		a {
			img {
				width:210px;
			}
		}
	}
	
	
	.free_consultation {
		span.free_consult_title {
			margin-right: 13px;
		}
		a.phone {
			
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1180px) {
	
	header {
		padding:0 0 0 28px;
	}
	
	nav {
		position: fixed;
		top:0;
		left:0;
		width:100%;
		height:100vh;
		background:#fff;
		z-index:5;
		text-align: center;
		padding:75px 0px 0;
		display: none;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		ul {
			li {
				
			}
		}
		ul.menu {
			display: block;
			padding-bottom:80px;
			> li {
				margin-left:0;
				font-size: 18px;
				padding-bottom:25px;
				@include sans_semibold;
				> a.open {
						color:$red;
						&:after {
							border-top: 5px solid $red;
						}
				}
			}
			> li.menu-item-has-children {
					> a {
						&:after {
							top: 9px;
						}
					}
			}
		}
		ul.sub-menu {
			position: static;
			padding:0px 0 0;
			opacity: 1;
			visibility: visible;
			width:100%;
			background:$offwhite;
			margin:0px 0 0 0;
			max-height: 0;
			opacity: 0;
			visibility: hidden;
			transition: all 600ms cubic-bezier(.17,.66,.34,.98);
			li {
				font-size: 17px;
				margin-bottom:25px;
				@include sans_semibold;
				&:last-of-type {
					margin-bottom:0;
				}
			}
		}
		ul.sub-menu.open {
			max-height: 3000px;
			opacity: 1;
			visibility: visible;
			margin:30px 0 0 0;
			padding:28px 0;
		}
	}
	
	.mobile_menu {
		display: block;
		width:71px;
		height:100%;
		background:$bluedark;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		span {
			display: block;
			width:37px;
			height:3px;
			margin-bottom:5px;
			background:#fff;
			&:last-of-type {
				margin-bottom:0;
			}
		}
	}
	
	
	.close {
		width:33px;
		height:33px;
		position: absolute;
		top:25px;
		right:18px;
		//background: pink;
		&:before, &:after {
			content:"";
			display: block;
			width:35px;
			height:3px;
			background: $bluedark;
			position: absolute;
			top:14px;
			left:0;
		}
		&:before {
			transform: rotate(-45deg);
		}
		&:after {
			transform: rotate(45deg);
		}
	}
	
	
	.free_consultation {
		height:100%;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
		margin-top:0;
		margin-right:20px;
		span.free_consult_title {
			margin:0 9px 5px 0;
		}
	}
	
	.header_left {
		padding-top: 13px;
		a {
			img {
				width:237px;
			}
		}
	}
	
} /* Media Query */



@media screen and (max-width: 700px) {
	
	
	header {
		height:95px;
		padding-left:15px;
	}
	
	
	.header_left {
		padding-top: 0;
		a {
			img {
				width:175px;
			}
		}
	}
	
	.mobile_menu {
		width:45px;
		span {
			width:23px;
			height:2px;
			margin-bottom:5px;
		}
	}
	
	.free_consultation {
		    margin-right: 6px;
		span.free_consult_title {
			font-size: 15px;
			margin-right:0;
		}
		a.phone {
			font-size: 25px;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 410px) {
	
	.header_left {
		padding-top: 17px;
		a {
			img {
				width: 150px;
			}
		}
   }
	
	
	
} /* Media Query */


@media screen and (max-width: 390px) {
	
	.free_consultation {
		span.free_consult_title {
		
		}
		a.phone {
			font-size: 22px;
		}
	}
	
} /* Media Query */

@media screen and (max-width: 365px) {
	
	.free_consultation {
		span.free_consult_title {
			display: none;
		}
		a.phone {
			font-size: 18px;
		}
	}
	
	
} /* Media Query */