


.cr_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	z-index:1;
	margin:90px auto -50px;
	max-width: 1280px;
	&:after {
		content:"";
		display: block;
		flex-basis:31%;
	}
}


.single_cr {
	flex-basis:31%;
	height:462px;
	text-align: center;
	margin-bottom: 50px;
	background: #fff;
	box-shadow: 0px 1px 14.85px 0.15px rgba(6, 23, 29, 0.2);
	padding:90px 20px 0;
	transition: all 300ms ease-in-out;
	&:hover {
		background: $bluedark;
		span {
			color:#fff;
		}
	}
	span {
		display: block;
		color:$bluelight;
		transition: all 300ms ease-in-out;
	}
	span.cr_type {
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 0.1em;
		@include sans_bold;
	}
	span.cr_amount {
		text-transform: uppercase;
		font-size: 80px;
		margin-top:17px;
		@include sans_bold;
		&:after {
			content:"";
			display: block;
			width:59px;
			height:2px;
			background: $red;
			margin:27px auto 0;
		}
	}
	span.cr_description {
		font-size: 19px;
		line-height: 28px;
		max-width: 255px;
		margin:20px auto 0;
		@include sans_reg;
	}
}



