

.content {
	.gform_wrapper {
		ul {
			margin:0;
			padding:0;
			> li {
				> .gfield_label {
						display: block;
						margin-bottom: 15px;
					}
					.ginput_container {
						label {
							display: block;
							margin-bottom: 5px;
						}
						input, textarea {
							border:1px solid #c4c4c4;
							margin-bottom:15px;
							padding:8px 10px;
							width:100%;
							//max-width: 475px;
							font-size: 18px;
							line-height: 30px;
							@include sans_reg;
						}
					}
					.ginput_container_radio {
						ul {
							li {
								margin-bottom: 4px;
								label {
									display: inline-block;
									margin-left:12px;
								}
								input {
									width:auto;
								}
							}
						}
					}
				}
			li {
				margin: 0 0px 20px 0;
				padding:0;
				&:before {
					display: none;
				}
			}
			li#field_5_21 {
				.clear-multi {
					display: flex;
					.ginput_container_date {
						flex-basis:100px;
						margin-right:20px;
					}
				}
			}
			li#field_5_13 {
				> label {
						display: block;
						margin-bottom:15px;
				}
				.ginput_container {
					display: flex;
					justify-content: space-between;
					span.name_first {
						flex-basis: 48%;
					}
					span.name_last {
						flex-basis: 48%;
					}
				}
			}
		}
		.gfield_description, .validation_message {
			color:$red;
			font-size: 16px;
			margin-top:-9px;
		}
		input[type="submit"] {
			background: $red;
			color:#fff;
			text-transform: uppercase;
			font-size: 17px;
			padding:13px 30px;
			letter-spacing: 0.1em;
			border:none;
			border-radius: 45px;
			cursor: pointer;
			transition: all 200ms ease-in-out;
			@include sans_black;
			&:hover {
				background: $bluedark;
			}
		}
	}
}



@media screen and (max-width: 700px) {
	
	
.content {
	.gform_wrapper {
		ul {
		
			> li {
				> .gfield_label {
						
					}
					.ginput_container {
						label {
						
						}
						input, textarea {
							
						}
					}
					.ginput_container_radio {
						ul {
							li {
								
								label {
									
								}
								input {
									
								}
							}
						}
					}
				}
			li {
				
				&:before {
					
				}
			}
			li#field_5_21 {
				.clear-multi {
					
					.ginput_container_date {
						
					}
				}
			}
			li#field_5_13 {
				> label {
						
				}
				.ginput_container {
					display: block;
					span.name_first {
						
					}
					span.name_last {
						
					}
				}
			}
		}
		.gfield_description, .validation_message {
			
		}
		input[type="submit"] {
			
			&:hover {
				
			}
		}
	}
}

	
	
	
} /* Media Query */
