


.about_top {
	position: relative;
	padding:0 60px;
}

.about_top_content_wrapper {
	position: relative;
	z-index:1;
	text-align: center;
	color:#fff;
	max-width: 850px;
	margin:0 auto;
	padding-bottom:85px;
}

h1.about_title {
	font-size: 65px;
	line-height: 65px;
	padding:115px 0 0;
	@include rufina_bold;
	&:after {
		content:"";
		display: block;
		width:213px;
		height:4px;
		background: $red;
		margin:55px auto 45px;
	}
}


.about_top_content {
	font-size: 22px;
	line-height: 40px;
	@include sans_reg;
	p {
		margin-bottom: 20px;
	}
}


img.about_top_img {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	object-fit:cover;
}


.about_middle {
	background: $bluedark;
	padding:0 60px;
}

.about_middle_content {
	max-width: 1275px;
	margin:0 auto;
	display: flex;
	padding:145px 0 170px;
}

.about_middle_left {
	flex-grow:1;
	padding-right:110px;
}


.about_middle_left.content {
	color:#fff;
}


.about_middle_right {
	flex-basis:493px;
	flex-shrink:0;

}


.about_middle_imge_wrapper {
	display: flex;
	flex-direction: column;
}

.about_middle_img {
	overflow: hidden;
	margin-bottom:17px;
	img {
		max-width: 100%;
		height:auto;
		display: block;
	}
}



.about_bottom {
	background: $offwhite;
	padding:0 60px;
}


.about_bottom_inner {
	max-width:1300px;
	margin:0 auto;
	display: flex;
	padding-bottom:123px;
}



.about_bottom_left {
	padding:120px 0 0 0;
	.about_bottom_left_img {
		img {
			max-width: 100%;
			height:auto;
			display: block;
		}
	}
}


.about_bottom_right {
	padding:158px 0 0 0;
	text-align: center;
	flex-grow: 1;
	padding-left:95px;
}

.about_right_quote_wrapper {
	max-width: 660px;
	margin:0 auto;
	p {
		font-size: 30px;
		line-height: 46px;
		@include rufina_bold;
		&:after {
			content:"";
			display: block;
			width:213px;
			height:4px;
			margin:30px auto 24px;
			background: $red;
		}
	}
	span.about_right_quote_name {
		text-transform: uppercase;
		color:$red;
		font-size: 19px;
		letter-spacing: 0.1em;
		@include sans_bold;
	}
}


.about_awards_wrapper {
	background: #fff;
	
}

.about_awards_inner {
	max-width: 1470px;
	margin:0 auto;
}

.about_awards_slider {
	
}

.about_awards_slide {
	height:327px;
	.about_awards_inner {
		display: flex;
		justify-content: center;
		align-items: center;
		height:100%;
		img {
			max-width: 100%;
			height:auto;
			display: block;
			margin:auto;
		}
	}
}

.about_awards_wrapper {
	padding:0 60px;
}

@media screen and (max-width: 1390px) {
	
	
	
	h1.about_title {
		font-size: 55px;
    line-height: 55px;
	}
	
	
	img.about_top_img {
		object-position:30% 0%;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1180px) {
	
	
	
	.about_middle_content {
		display: block;
		padding: 100px 0 170px;
	}
	
	
	.about_middle_left {
		padding-right:0;
	}
	
	.about_middle_right {
		margin-top:70px;
	}
	
	.about_middle_imge_wrapper {
		flex-direction: row;
	}
	
	
	.about_middle_img {
		flex-basis:50%;
		margin-bottom:0;
		&:first-of-type {
			margin-right:14px;
		}
		img {
			width:100%;
		}
	}
	
	.about_middle_content {
    padding: 100px 0 100px;
  }
	
	
} /* Media Query */


@media screen and (max-width: 850px) {
	
	
	img.about_top_img {
		object-position:25% 0%;
	}
	
	
} /* Media Query */

@media screen and (max-width: 767px) {
	
	
	
	h1.about_title {
		font-size: 45px;
    line-height: 50px;
    &:after {
	   	margin: 35px auto 35px;
    }
	}

	
	
	
} /* Media Query */


@media screen and (max-width: 700px) {
	
	
	h1.about_title {
		padding:65px 0 0;
	}
	
	
	.about_top {
		padding:0 30px;
	}
	
	
	.about_top_content_wrapper {
		padding-bottom: 45px;
	}
	
	.about_middle {
		padding:0 30px;
	}
	
	.about_middle_content {
    padding: 50px 0;
	}
	
	.about_middle_imge_wrapper {
		flex-direction: column;
	}
	
	
	.about_middle_img {
		&:first-of-type {
			margin-right:0;
			margin-bottom: 19px;
		}
	}
	
	.about_middle_right {
    margin-top: 35px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 570px) {
	
	
	h1.about_title {
		max-width:340px;
		margin-left:auto;
		margin-right:auto;
	}
	
	.about_top_content {
		font-size: 19px;
		line-height: 32px;
	}
	
	img.about_top_img {
		object-position:22% 0%;
	}
	
} /* Media Query */
