


.cr_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	z-index:1;
	margin:90px auto -50px;
	max-width: 1280px;
	&:after {
		content:"";
		display: block;
		flex-basis:31%;
	}
}


.single_cr {
	flex-basis:31%;
	height:462px;
	text-align: center;
	margin-bottom: 50px;
	background: #fff;
	box-shadow: 0px 1px 14.85px 0.15px rgba(6, 23, 29, 0.2);
	padding:90px 20px 0;
	transition: all 300ms ease-in-out;
	&:hover {
		background: $bluedark;
		span {
			color:#fff;
		}
	}
	span {
		display: block;
		color:$bluelight;
		transition: all 300ms ease-in-out;
	}
	span.cr_type {
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 0.1em;
		@include sans_bold;
	}
	span.cr_amount {
		text-transform: uppercase;
		font-size: 80px;
		margin-top:17px;
		@include sans_bold;
		&:after {
			content:"";
			display: block;
			width:59px;
			height:2px;
			background: $red;
			margin:27px auto 0;
		}
	}
	span.cr_description {
		font-size: 19px;
		line-height: 28px;
		max-width: 255px;
		margin:20px auto 0;
		@include sans_reg;
	}
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    .single_cr {
	    padding-left:0;
	    padding-right:0;
    }
}



@media screen and (max-width: 1215px) {
	
	
.single_cr {
	&:hover {
		span {

		}
	}
	span {
		
	}
	span.cr_type {
		
	}
	span.cr_amount {
		font-size: 75px;
		&:after {
		
		}
	}
	span.cr_description {
		font-size: 19px;
		line-height: 28px;
		max-width: 255px;
		margin:20px auto 0;
		@include sans_reg;
	}
}
	
	
	
} /* Media Query */


@media screen and (max-width: 1180px) {
	
	
	.cr_wrapper {
		max-width: 880px;
		&:after {
			display: none;
		}
	}
	
	.single_cr {
		flex-basis:48%;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	.cr_wrapper {
		margin:60px auto -50px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	.cr_wrapper {
		margin:45px auto -50px;
	}
	
	
.single_cr {
	&:hover {
		span {

		}
	}
	span {
		
	}
	span.cr_type {
		
	}
	span.cr_amount {
		font-size: 58px;
		&:after {
		
		}
	}
	span.cr_description {
		font-size: 19px;
		line-height: 28px;
		max-width: 255px;
		margin:20px auto 0;
		@include sans_reg;
	}
}
	
	
} /* Media Query */

@media screen and (max-width: 660px) {
	
	.cr_wrapper {
		display: block;
		max-width: 375px;
		margin-bottom: -35px;
	}
	
	
	.single_cr {
		height:auto;
		padding: 50px 20px;
		margin-bottom: 35px;
	}
	
	
} /* Media Query */

