.contact_top {
	position: relative;
	padding:0 60px;
	height:593px;
}

.contact_top_content_wrapper {
	position: relative;
	z-index:1;
	text-align: center;
	color:#fff;
	margin:0 auto;
	padding-bottom:85px;
}

h1.contact_title {
	font-size: 65px;
	line-height: 65px;
	padding:123px 0 0;
	@include rufina_bold;
}


.contact_top_content {
	font-size: 22px;
	line-height: 40px;
	@include sans_reg;
	p {
		margin-bottom: 20px;
	}
}


img.contact_top_img {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	object-fit:cover;
}


.contact_locations {
	display: flex;
	justify-content: space-between;
	padding-top:63px;
	max-width: 1100px;
	margin:0 auto;
}


.contact_location_col {
	flex-basis:30%;
	span {
		display: block;
	}
}


span.contact_header {
	color:$red;
	text-transform: uppercase;
	font-size: 17px;
	letter-spacing: 0.2em;
	line-height: 17px;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.55);
	@include sans_bold;
}

.contact_item {
	font-size: 27px;
	line-height: 30px;
	margin-top:8px;
	color:#fff;
	text-decoration: none;
}


span.contact_office_title {
	margin-top:51px;
}



a.contact_button {
	margin:29px auto 0;
	color:#fff;
	//width:198px;
	border:2px solid #fff;
	display: inline-block;
	border-radius: 45px;
	text-decoration: none;
	height:45px;
	
	transition: all 300ms ease-in-out;
	@include sans_black;
	&:hover {
		background: #fff;
		color:$red;
		svg {
			transform: translateX(5px) rotate(180deg);
		}
	}
	.contact_button_inner {
		display: flex;
		justify-content: center;
		align-items: center;
		height:100%;
		padding:0 21px;
	}
	span {
		text-transform: uppercase;
		font-size: 15px;
		letter-spacing: 0.1em;
	}
	svg {
		margin-left:16px;
		transform: translateX(0px) rotate(180deg);
		transition: all 400ms ease-in-out;
		path {
			fill:$red;
		}
	}
}


.contact_social_wrapper {
		display: flex;
		justify-content: space-between;
		width: 115px;
		margin:25px auto 0;
		a {
			text-decoration: none;
			display: block;
			align-items: center;
			svg {
				path {
					fill:#fff;
					transition: all 200ms ease-in-out;
				}
			}
			&:hover {
				svg {
					path {
						fill:$red;
					}
				}
			}
			&:nth-of-type(2) {
			
			}
		}
	}
	
	
	
	body.page-template-template-contact {
		.copyright_wrapper {
			background:$bluedark;
			padding: 87px 40px 90px;
		}
	}
	
	
	@media screen and (max-width: 1390px) {
		
		
		
		h1.contact_title {
			font-size: 55px;
			line-height: 55px;
			padding: 112px 0 0;
		}
		
		
		img.contact_top_img {
			object-position:30% 0%;
		}
		
		
	} /* Media Query */



@media screen and (max-width: 1100px) {
	
	.contact_top {
		height:auto;
	}
	
	
	.contact_locations {
		display: block;
		padding-top: 45px;
	}
	
	span.contact_phone_title, span.contact_social_title {
		margin-top:51px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 850px) {
	
	
	
	img.contact_top_img {
		object-position:20% 0%;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	.contact_top {
   	padding: 0 30px;
  }
	
	
	h1.contact_title {
		font-size: 45px;
		line-height: 55px;
		padding: 65px 0 0;
	}
	
	.contact_locations {
		padding-top: 25px;
	}
	
	span.contact_item {
		font-size: 23px;
		line-height: 27px;
	}
	
	span.contact_phone_title, span.contact_office_title, span.contact_social_title {
    margin-top: 37px;
}
	
	
} /* Media Query */